.button.jsx-1626246900 {
    position: relative;
    font-size: 0.8125rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--front-stronger);
    border-radius: 4px;
    text-align: center;
    background: var(--back-medium);
    border: 0;
    padding: 1em 1.2em;
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    outline: 0;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    width: auto;
    undefined cursor: pointer;
}

.button.jsx-1626246900:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.button.jsx-1626246900:focus {
    box-shadow: 0 0 0 3px var(--back-strongest), 0 0 0 5px var(--brand-medium);
}

.button.tiny.jsx-1626246900 {
    padding: 5px 7px;
    font-size: 0.625rem;
}

.button.medium.jsx-1626246900 {
    padding: 8px 12px;
}

.button.big.jsx-1626246900 {
    font-size: 1rem;
}

.button.brand.jsx-1626246900 {
    color: var(--back-strongest);
    background: #08C988;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button.brand.jsx-1626246900:hover {
    background: #08bd81;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button.brand.jsx-1626246900:focus {
    box-shadow: 0 0 0 3px var(--back-strongest), 0 0 0 5px var(--brand-medium);
}

.button.white.jsx-1626246900 {
    background: var(--back-strongest);
    color: #08C988;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button.white.jsx-1626246900:hover {
    background: var(--back-stronger);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button.white.jsx-1626246900:focus {
    box-shadow: 0 0 0 3px var(--back-strongest), 0 0 0 5px var(--brand-medium);
}

.button.grey.jsx-1626246900 {
    background: var(--back-strong);
    color: #08C988;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button.grey.jsx-1626246900:hover {
    background: var(--back-medium);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button.grey.jsx-1626246900:focus {
    box-shadow: 0 0 0 3px var(--back-strongest), 0 0 0 5px var(--brand-medium);
}

.button.default.jsx-1626246900 {
    color: var(--front-stronger);
    background: var(--front-default-inversed);
}

.button.default.jsx-1626246900:hover {
    background: var(--front-default-inversed);
}

.button.light.jsx-1626246900 {
    color: var(--front-stronger);
    background: var(--back-strong);
}

.button.light.jsx-1626246900:hover {
    background: var(--back-medium);
}

.button.lighter.jsx-1626246900 {
    color: var(--front-strongest);
    background: var(--back-stronger);
}

.button.lighter.jsx-1626246900:hover {
    background: var(--back-strong);
}

.button.danger.jsx-1626246900 {
    color: #FF3B30;
    background: #FFF5F5;
}

.button.danger.jsx-1626246900:hover {
    background: #ffebeb;
}

.button.facebook.jsx-1626246900 {
    color: var(--front-strongest);
    background: #F1F3F6;
}

.button.facebook.jsx-1626246900:hover {
    background: #E1E5ED;
}

.button.twitter.jsx-1626246900 {
    color: var(--front-strongest);
    background: #EEF7FD;
}

.button.twitter.jsx-1626246900:hover {
    background: #DDEEFC;
    color: var(--front-strongest);
}

.button.link.jsx-1626246900 {
    background: transparent;
    color: var(--front-strongest);
}

.button.link.jsx-1626246900:hover {
    color: #08C988;
}

.clean.jsx-1626246900, .clean.jsx-1626246900:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: inherit;
}

.button.disabled.jsx-1626246900 {
    background: var(--back-strong);
    cursor: not-allowed;
    color: var(--front-default);
}

.button.disabled.jsx-1626246900, .button.disabled.jsx-1626246900:hover, .button.disabled.jsx-1626246900:active {
    box-shadow: none;
    background: var(--back-strong);
}

.button[disabled].jsx-1626246900, .button[disabled].jsx-1626246900:hover, .button[disabled].jsx-1626246900:active {
    cursor: auto;
    background: var(--back-strong);
}

.button.link.disabled.jsx-1626246900 {
    background: transparent;
}

.button.link.disabled.jsx-1626246900:hover {
    color: var(--front-default);
    background: transparent;
}

.button.link.disabled.jsx-1626246900:active {
    color: var(--front-default);
    background: transparent;
}